<div class='hideable hidden' id='card-suggestions-form'>
  <% if card_suggestions.pending.any? %>
    <tr><strong><%= deck.title %></strong></tr>
      <div class='table'>
        <table class='table table-striped'>
          <tbody>
            <tr>
              <th>Question</th>
              <th>Answer</th>
              <th>Approve?</th>
            </tr>

            <% card_suggestions.pending.each do |card| %>
              <tr>
                <td><%= card.question %></td>
                <td><%= card.answer %></td>
                <td>
                  <%= link_to "Approve Card", deck_card_suggestion_path(deck, card,
                    status:'approved'), method: :patch, class: 'label label-primary', id: "approve-#{card.id}" %>

                  <%= link_to "Reject Card", deck_card_suggestion_path(deck, card,
                    status:'rejected'), method: :patch, class: 'label label-inverse', id: "reject-#{card.id}" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  <% else %>
    <p>No suggested cards for this deck.</p>
  <% end %>
</div>