<%= form_for(@user) do |f| %>
  
  <br>  
  <div class='col-md-4'>
    <small>Email Address:</small>    
    <%= f.email_field :email, placeholder:'stevie@gmail.com', class:'form-control', rows:1 %>
  </div>

  <div class='col-md-2'>      
    <small>First Name:</small>    
    <%= f.text_area :first_name, placeholder:'Stevie', class:'form-control', rows:1 %>
  </div>

  <div class='col-md-2'>
    <small>Last Name:</small>
    <%= f.text_area :last_name, placeholder:'Janowski', class:'form-control', rows:1 %>
  </div>

  <div class='col-md-4'>
    <small>Password:</small>
    <%= f.password_field :password, placeholder:'********', class:'form-control', rows:1 %>
    <small>Password Again:</small>
    <%= f.password_field :password_confirmation, placeholder:'********', class:'form-control', rows:1 %>
    <br>

    <% if @user.new_record? %>
      <%= f.submit "Create Account", class:'btn btn-block btn-primary' %>
    <% else %>
      <%= f.submit "Update Account", class:'btn btn-block btn-primary' %>
    <% end %>
    <br>

    <small>Already a member? <%= link_to "Sign in.", sign_in_path, remote: true %></small>
  </div>  
<% end %>
