<div class='row'>
  <div class='col-md-6'>
    <%= render "shared/errors", object: @user %>
    
    <%= form_for @user, url: {action: 'update_password', id: @user} do |f| %>
      <h5>Edit Password:</h5>
        <small>Current Password:</small>
        <%= f.password_field :password, class:'form-control' %>
      
        <small>New Password:</small>
        <%= f.password_field :new_password, class:'form-control' %>
        
        <small>New Password Again:</small>
        <%= f.password_field :new_password_confirmation, class:'form-control' %>
        <br>

        <%= f.submit "Update Password", class:'btn btn-block btn-info' %>

        <%= link_to "Nevermind", edit_user_path(@user), class:'btn btn-block btn-default' %>
        <br>

    <% end %>
  </div>
</div>