<div class='row'>
  <div class='col-md-8'>
    <%= render "shared/errors", object: @user %>

    <h5>Edit Profile:</h5>

    <%= form_for(@user) do |f| %>    
      <small>Email Address(not public):</small>    
      <%= f.email_field :email, placeholder:'stevie@gmail.com', class:'form-control', rows:1 %>

      <small>First Name:</small>    
      <%= f.text_area :first_name, placeholder:'First Name', class:'form-control', rows:1 %>

      <small>Last Name:</small>    
      <%= f.text_area :last_name, placeholder:'Last Name', class:'form-control', rows:1 %>

      <small>Website:</small>
      <%= f.text_area :website, placeholder:'http://barefootford.com', class:'form-control', rows:1 %>
      <br>

        <%= f.submit 'Update Account', class:'btn btn-block btn-primary' %>  
      
        <%= link_to 'Nevermind', user_path(@user), class:'btn btn-block btn-default' %>
    <% end %>
    
      <%= link_to 'Delete Account', user_delete_path(@user), class:'no-link-primary', class:'label label-default' %>
      <%= link_to 'Edit Password', edit_password_path(@user), class:'label label-default' %>

    <br>
  </div>
  <div class='col-md-4'>
    <%= render 'shared/sidebar' %>
  </div>
</div>