<div class='row'>
  <div class='col-md-8'>
    <h1 class='less-bottom-margin'>
      <%= @user.name %>
    </h1>
    <small>
      <% if @user.new? %>
        New User
      <% else %>
        Veteran
      <% end %>

      <%= ' | '+ @user.created_at.strftime("%B %Y")%>
      <%= ' | '+ number_of_cards(@user.cards.count) + ' created' %>
      <%= ' | '+ number_of('deck', @user.decks.count) + ' created' %>
    </small>

    <% if @user.website.present? %>
      <br>
      <div>
        <small class='quietGrey'>website: <%= link_to @user.website.truncate(70), url_for(@user.website), rel:"nofollow" %></small>
      </div>
    <% end %>
    <hr>

    <% if @user.decks.any? %>
      <div>
        <small class='quietGrey'>decks:</small><br>
        <% @user.decks.each do |deck| %>
          <div>
            <h4 style="margin-bottom: -6px;"><%= link_to(deck.title, deck, class: 'no-link-primary') %></h4>
            <small>
              <%= "#{deck.cards.select(&:active?).count} #{"card".pluralize(deck.cards.select(&:active?).count)}" %>
              | <%= "#{deck.card_edits.select(&:approved?).count} approved #{"card edit".pluralize(deck.card_edits.select(&:approved?).count)}" %>
              | <%= "#{deck.card_suggestions.select(&:approved?).count} approved #{"card suggestion".pluralize(deck.card_suggestions.select(&:approved?).count)}" %>
            </small>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>