<div class='row'>
  <div class='col-md-4'>
    <h1 class='less-margin'><%= @user.name %></h1>
    <p>    
      <% if @user.new? %>
        <span class='label label-primary'>New User</span>
      <% end  %>
      
      <span class='label label-default label-margin'>
        <%= @user.created_at.strftime("%B %Y")%>
      </span>  
      
      <span class='label label-default label-margin'>
        <%= number_of_cards(@user.card_count) %>
      </span>
      
      <span class='label label-default label-margin'>
        <%= number_of("deck", @user.card_count) %>
      </span>
    </p>
    <h5>Decks:</h5>
    <% if @user.decks.any? %>
            
      <% @user.decks.each do |deck| %>
        <small>
          <%= link_to deck.title, deck %>
          (<%= number_of_cards(deck.card_count) %>)
        </small><br>
      <% end %>

    <% else %>

      <%= "#{@user.name} doesn't manage any decks yet."  %>  

    <% end %>

    <h5>Website:</h5>
    <p>
      <% if @user.website? %>  
        <%= link_to @user.website.truncate(70), url_for(@user.website), rel:"nofollow"  %>
      <% else %>
        No website listed.
      <% end %>
    </p>

    <br><br>
    <%= link_to "Edit Account", edit_user_path(@user), class:'btn btn-block btn-primary' if current_user == @user %>
    <br><br>
  </div>
</div>