<div id='study-button'>
  <% if @deck_subscription.status == 'active' %>
    <%= link_to 'Study', '#', class:'btn btn-primary btn-lg btn-block' %>
    <%= link_to 'Pause Subscription', user_deck_subscription_path(current_user, @deck_subscription, status: 'paused'), remote: true, method: :patch, class:'label label-default deck-status' %>

    <%= link_to 'End Subscription', user_deck_subscription_path(current_user, @deck_subscription, status: 'archived'), remote: true, method: :patch, class:'label label-default deck-status' %>

  <% elsif @deck_subscription.status == 'paused' %>
    <%= link_to 'Reactivate Subscription', user_deck_subscription_path(current_user, @deck_subscription,
        remote: true, status: 'active'), remote: true, method: :patch, class:'label label-primary deck-status' %>

    <%= link_to 'End Subscription', user_deck_subscription_path(current_user, @deck_subscription, status: 'archived'), remote: true, method: :patch, class:'label label-default deck-status' %>

  <% elsif @deck_subscription.status == 'archived' %>
    <%= link_to 'Reactivate Subscription', user_deck_subscription_path(current_user, @deck_subscription, status: 'active'), remote: true, method: :patch, class:'label label-primary deck-status' %>
  <% end %>
  <%= link_to 'View Deck', deck_path(@deck), class:'label label-default' %>
</div>