<div class='row'>
  <div class='col-md-8'>
    <h3>Dashboard</h3>
    <hr>
    
    <% if current_user.has_decks? %>
      <% current_user.decks.saved.each do |deck| %>
            <%= link_to "Edit", edit_deck_path(deck), class:'btn btn-xs btn-default' %>
            <%= "#{deck.title}" %><br>
      <% end %>
    <% end %>
    <%= link_to "Build a New Deck", new_deck_path, class:'btn btn-xs btn-primary' %>

    <h5>Community Suggested Cards</h5>
    <br>

    <% @decks.each do |deck|  %>
      <% if deck.any_card_suggestions? %>
        <tr><strong><%= deck.title %></strong></tr>
          <div class='table'>
            <table class='table table-striped'>
              <tbody>
                <tr>
                  <th>Question</th>
                  <th>Answer</th>
                  <th>Approve?</th>
                </tr>
              
                <% deck.card_suggestions.each do |card| %>
                  <tr>
                    <td><%= card.question %></td>
                    <td><%= card.answer %></td>
                    <td><%= link_to 'Approve', card_approve_path(deck, card), method: :patch, class:'label label-primary' %></td>
                  </tr>
                <% end %>
                
              </tbody>
            </table>
          </div>
      <% end %>
    <% end %>
  </div>
  
  <div class='col-md-4'>
    <%= render 'shared/sidebar' %>
  </div>
</div>
