<div class='row'>
  <div class='col-md-8'>
    <h5>Community Suggested Cards</h5>
    <br>
    
    <table>
      <th>Question:</th>
      <tr>What is the Spanish word for blue?</tr>
      <tr>Azul</tr>
    </table>

    <% current_user.decks.each do |deck|  %>

      <% if deck.any_card_suggestions? %>
        <tr><strong><%= deck.title %></strong></tr>
          <% deck.card_suggestions.each do |card| %>
          <div class='table'>
            <table class='table table-striped'>
              <tbody>
                <tr>
                  <th>Chapter</th>
                  <th>Question</th>
                  <th>Answer</th>
                  <th>Approve?</th>
                </tr>
              
                <tr>
                  <td><%= card.chapter.title %></td>
                  <td><%= card.question %></td>
                  <td><%= "yes yes" * 20 %></td>
                  <!-- <td><%#= card.answer %></td> -->
                  <td><%= link_to 'Approve', '#', class:'label label-primary' %></td>
                </tr>
                <% end %>
                
              </tbody>
            </table>
          </div>
      <% end %>
    <% end %>
  </div>
  
  <div class='col-md-4'>
    <%= render 'shared/sidebar' %>
  </div>
</div>
