<div class='row'>
  <div class='col-md-6'>
    <h1>Dashboard</h1>

    <div>
      <% @decks.each do |deck| %>
        <p>
          <h5><%= deck.title %></h5>

          <% if deck.card_suggestions.any? %>
            <p><strong>Card Suggestions:</strong></p>
            <% deck.card_suggestions.each do |card| %>
              <div>
                <%= link_to 'Approve', '', class:'btn btn-xs btn-primary', id:'approve-card' %>
                <%= card.question %> | <%= card.answer %>
                <%= content_tag :span, card.user.name, class:'label label-default' %>
                <% end %>
              </div>
          <% else %>
          <p>No suggestions.</p>  
          <% end %>  
        </p>
      <% end %>
    </div>
  </div>
</div>

