<div class='row'>
  <div class='col-md-8'>
    <p>Study Decks:</p>
    <% if @deck_subscriptions.any?  %>
      <% @deck_subscriptions.each do |ds| %>
        <h4>
          <span>
            <%= link_to 'Study', study_sessions_path(deck_subscription_id: ds), method: :post, class:'btn btn-primary' %>
          </span>
            <%= link_to ds.deck.title, user_deck_subscription_path(current_user, ds), class:'no-link-primary' %>
        </h4>
      <% end %>
    <% end %>
    <% if @inactive_deck_subscriptions.any? %>
      <hr>
      <p>Inactive Study Decks:</p>
      <% @inactive_deck_subscriptions.each do |ds| %>
        <small><%= link_to ds.deck.title, user_deck_subscription_path(current_user, ds), class: 'no-link-primary' %></small><br>
      <% end %>
    <% end %>
    <hr>

    <% if @decks.any? %>
      <p>Manage Decks:</p>
      <% @decks.each do |deck| %>
        <%= render 'decks/title', deck: deck %>
        <% if deck.any_card_suggestions_pending? %>
          <br>
            <small>
              <%= link_to "#{pluralize(deck.card_suggestions.pending.count, 'card')} awaiting approval.", edit_deck_path(deck), class:'no-link-primary' %>
            </small>
        <% end %>
      <% end %>
    <% end %>

    <p>
      <br><%= link_to "Build a New Deck", new_deck_path, class:'btn btn-primary' %>
    </p>
  </div>

  <div class='col-md-4'>
    <%= render 'shared/sidebar' %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.hideable').removeClass('hidden');
  });
</script>