<div class='row'>
  <div class='col-md-6'>
    <h3>Editing: <%= @chapter.title %></h3>
    <h6><%= link_to @chapter.deck.title.truncate(30), @chapter.deck %></h6>

    <%= form_for @chapter do |f| %>
    <p>
      <%= f.label :title, "Title:" %><br>
      <%= f.text_area :title, class:'form-control' %>
    </p>

    <%= f.submit "Save", class:'btn btn-lg btn-block btn-primary', id:'save-chapter' %>
    <br>
    <% end %>
  </div>

  <div class='col-md-6'>
    <h3>Cards:</h3>
    <% if @chapter_cards.any? %>
      <ol>
        <% @chapter_cards.each do |card| %>
        <li>
          <h6>
            <span><%= link_to "Edit", "#", class:'btn btn-xs btn-primary'  %></span>
            <span><%= link_to "X", chapter_card_path(@chapter, card), method: :delete, data: { confirm: 'Are you *sure* you want to delete this card?' }, class:'btn btn-xs btn-danger' %></span>

            <%= link_to card.question, "#" %>
          <h6>
        </li>
        <% end %>  
      </ol>    
    <% end %>

  </div>
  <div class='col-md-6'>
    <small>Add a Card:</small>
  </div>

  <div class='col-md-5'>
    <%= form_for [@chapter, @chapter.cards.new] do |f|  %>  
      <%= f.text_area :question, placeholder:'Question',
      rows:1, class:'form-control' %>
      <%= f.text_area :answer, placeholder:'Answer', rows:1, class:'form-control' %>
  </div>

  <div class = 'col-md-1'>
    <%= f.submit "Save", class:"span btn btn-md btn-primary" %>
    <br>
    <% end %>
  </div>
</div>