<div class='row'>
  <div class='col-md-8'>
    <h3>Editing: <%= @deck.title %></h3>
    <hr>
    <div>
      <button class='btn btn-sm btn-inverse' id='new-card-toggle-button'>New Card</button>
      <button class='btn btn-sm btn-default' id='card-list-toggle-button'>Card List</button>
      <button class='btn btn-sm btn-default' id='community-cards-toggle-button'>Card Suggestions</button>
			<button class='btn btn-sm btn-default' id='deck-settings-toggle-button'>Deck Settings</button>
    </div>
    <br>
    <%= render 'cards/new' %>
    <%= render 'cards/edit' %>
    <%= render 'card_suggestions/index' %>
    <%= render 'decks/settings' %>
  	<hr>
  </div>
</div>
