<div class='row'>
  <div class='col-md-8'>
    <h3 class='text-center'>Community Decks</h3>
    <% @decks.each do |deck| %>
      <h6 class='head-with-author' id='no-link-color'><%= link_to deck.title, deck %></h6>
      
      <%= link_to deck.user.name, user_path(deck.user), class:'label label-default' %>  
      <%= link_to "Language", "#", class:'label label-default' %>
      <%= link_to "#{deck.chapters.count} #{'chapters'.pluralize(deck.chapters.count)}", "#", class:'label label-default' %>

      <%= link_to "2 cards", '#', class:'label label-default' %>

    <% end %><br>
  </div>
  <br>

  <!-- Experiment with new things -->
  <div class='col-md-8'>
    <div class="btn-group select mbn"><button class="btn dropdown-toggle clearfix btn-info" data-toggle="dropdown"><span class="filter-option pull-left">My Profile</span>&nbsp;<span class="caret"></span></button><span class="dropdown-arrow"></span><ul class="dropdown-menu" role="menu" style="overflow-y: auto; min-height: 105px; max-height: 60.5947265625px;"><li rel="0" class="selected"><dt>Profile</dt><a tabindex="-1" href="#" class="opt "><span class="pull-left">My Profile</span></a></li><li rel="1"><a tabindex="-1" href="#" class="opt "><span class="pull-left">My Friends</span></a></li><li rel="2"><div class="divider"></div><dt>System</dt><a tabindex="-1" href="#" class="opt "><span class="pull-left">Messages</span></a></li><li rel="3"><a tabindex="-1" href="#" class="opt "><span class="pull-left">My Settings</span></a></li><li rel="4"><a tabindex="-1" href="#" class="opt highlighted"><span class="pull-left">Logout</span></a></li></ul></div>
  </div>


  <div class='col-md-4'>
    <%= render 'shared/sidebar' %>
  </div>
  
  <div class='row'>
    <div class='col-md-8'>
      <% if !current_user %>
        <br>
        <%= link_to "Sign Up", new_user_path, class:'btn btn-block btn-primary' %>
        <br>
      <% end %>
    </div>
  </div>  
</div>
