<div class='row'>
  <div class='col-md-8'>
    <h3 class='text-center'>Community Decks</h3>
    <% @decks.each do |deck| %>
      <h6 class='head-with-author' id='no-link-color'><%= link_to deck.title, deck %></h6>
      
      <%= link_to deck.user.name, user_path(deck.user), class:'label label-default' %>  
      <%= link_to "Language", "#", class:'label label-default' %>
      <%= link_to "#{deck.chapters.count} #{'chapters'.pluralize(deck.chapters.count)}", "#", class:'label label-default' %>

      <%= link_to "2 cards", '#', class:'label label-default' %>

    <% end %><br>
  </div>
  <br>

  <div class='col-md-4'>
    <%= render 'shared/sidebar' %>
  </div>
  
  <div class='row'>
    <div class='col-md-8'>
      <% if !current_user %>
        <br>
        <%= link_to "Sign Up", new_user_path, class:'btn btn-block btn-primary' %>
        <br>
      <% end %>
    </div>
  </div>  
</div>
