<div class='row'>
  <div class='col-md-8'>
    <%= render 'decks/title', deck: @deck %>

    <% if @deck.instructions.present? %>
      <h6>Instructions:</h6>
      <p><%= @deck.instructions %></p>
    <% end %>

    <br><br>
    <%= link_to "Download Deck", deck_path(@deck, format: 'csv'),
     class:'btn btn-lg btn-block btn-primary', id:'dl-deck' %>
    <br>

    <div id='deck-now-downloading' class='hidden'>
      <p>
        <%= @deck.title %> should begin downloading soon.
        <em>
          <%= link_to 'Download again.', deck_path(@deck, format: 'csv') %>
        </em>
      <p>
      <%= link_to "Anki Import Instructions", anki_import_path, remote: true, class: 'btn btn-lg btn-default' %>
      <br><br>
    </div>

    <h6>Cards:</h6>
    <% if @cards.any? %>
      <%= render 'cards/index' %>
    <% end %>
  </div>

  <div class='col-md-4'>
    <% if current_user && (@deck.owner != current_user) %>
      <%= render 'card_suggestions/new' %>
    <% end %>

    <% if !current_user %>
      <br>
        <p><%= link_to 'Login', new_session_path %> or <%= link_to 'Sign Up', new_user_path %> to suggest cards.</p>  
      <br>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#dl-deck').click(function(){
      $('#deck-now-downloading').fadeIn(500).removeClass('hidden');
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.hideable').removeClass('hidden');
  });
</script>