<div class='row'>
  <div class='col-md-8'>
    <%= render 'decks/title' %>

    <% unless @deck.instructions.blank? %>
      <h5>Instructions:</h5>
      <p><%= @deck.instructions %></p>
    <% end %>

    <%= link_to "Download Deck", "#", class:'btn btn-lg btn-block btn-primary' %>
    <br><hr><br>
  </div>

  <div class='col-md-4'>
    <% if current_user && not_owner_of(@deck)  %>
      <%= render 'card_suggestions/new' %>
    <% end %>

    <% if !current_user %>
      <br>
        <p><%= link_to 'Login', new_session_path %> or <%= link_to 'Sign Up', new_user_path %> to suggest cards.</p>  
      <br>
    <% end %>
  </div>
</div>