<div class='row'>
  <div class='col-md-8'>
    <%= render 'decks/title', deck: @deck %>
      <h6>Instructions:</h6>
      <p><%= @deck._instructions %></p>
    <br><br>

    <% if current_user && @deck_subscription %>
      <%= link_to "Study this Deck", deck_subscription_study_sessions_path(@deck_subscription), method: :post, 
        class:'btn btn-lg btn-block btn-primary' %>

      <%= link_to 'Download Deck CSV', deck_path(@deck, format: 'csv'),
        class:'label label-default', id:'dl-deck' %>
    <% elsif current_user %>
      <%= link_to "Add to My Decks", deck_subscriptions_path(deck_id: @deck.id), method: :post, class:'btn btn-lg btn-block btn-primary',
        id:'add-to-my-decks' %>
      <%= link_to 'Download Deck CSV', deck_path(@deck, format: 'csv'),
        class:'label label-default', id:'dl-deck' %>
    <% else %>
      <%= link_to "Sign In to Study or Download", "#",
        class:'btn btn-lg btn-block btn-primary' %>
    <% end %>
    <br>

    <div id='deck-now-downloading' class='hidden'>
      <p>
        <%= @deck.title %> should begin downloading soon.
        <em>
          <%= link_to 'Download again.', deck_path(@deck, format: 'csv') %>
        </em>
      <p>
      <%= link_to "Anki Import Instructions", anki_import_path, remote: true, class: 'label label-default' %>
      <br><br>
    </div>

    <h6>Cards:</h6>
    <% if @cards.any? %>
      <%= render 'cards/index' %>
    <% end %>
  </div>

  <div class='col-md-4'>
    <% if current_user && (@deck.owner != current_user) %>
      <%= render 'card_suggestions/new' %>
    <% end %>

    <% if !current_user %>
      <br>
        <p><%= link_to 'Login', new_session_path %> or <%= link_to 'Sign Up', new_user_path %> to suggest cards.</p>  
      <br>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#dl-deck').click(function(){
      $('#deck-now-downloading').fadeIn(500).removeClass('hidden');
    });
  });
</script>

<%# I love how at one point these script tags seemed like a good idea. What do these do?
  Probably easier to just rebuild these pages in React and toss them.  %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.hideable').removeClass('hidden');
  });
</script>