<div class='row'>
  <div class='col-md-8'>
    <h4 class='head-with-author'><%= @deck.title %></h4>

    <%= link_to @deck.user.name, user_path(@deck.user), class: 'label label-default' %>
    <%= content_tag :div, pluralize(@deck.card_count, 'card'), class:'label label-default' %>
    <%= content_tag :div, pluralize(@deck.card_suggestions_count, 'contribution'), class:'label label-default' %>

    <% unless @deck.instructions.blank? %>
      <h5>Instructions:</h5>
      <p><%= @deck.instructions %></p>
    <% end %>

    <h6>Chapters:</h6>
    
    <% if @deck.chapters.any? %>
      <ol>
        <% @deck.chapters.each do |chapter| %>
        <li>
          <h6>
            <%= link_to chapter.title, chapter %>
          <h6>
        </li>
        <% end %>
      </ol>
    <% end %>

    <%= link_to "Download Deck", "#", class:'btn btn-lg btn-block btn-primary' %>
    <br><hr><br>

    <%= render 'card_suggestions' if @deck.any_card_suggestions? %>
    
  </div>
  <div class='col-md-4'>
    <%= render 'shared/sidebar' %>
    
    <% if current_user %>
      <%= render 'card_suggestions/new' %>
    <% else %>
      <br>
        <p><%= link_to 'Login', new_session_path %> or <%= link_to 'Sign Up', new_user_path %> to suggest chapters and cards.</p>  
      <br>
    <% end %>
  </div>
</div>