<div class='row'>
  <div class='col-md-8'>
    <h3 class='head-with-author'><%= @deck.title %></h3>
    
    
    <% if @deck.user == current_user %>
      <span><%= link_to "Edit", edit_deck_path(@deck), class:'label label-primary' %></span>
    <% else %>
      <span><%= link_to @deck.user.name, user_path(@deck.user), class: 'label label-info no-link-color' %></span>
    <% end %>

    <h5>Chapters:</h5>
    
    <% if @deck.chapters.any? %>
      <ol>
        <% @deck.chapters.each do |chapter| %>
        <li>
          <h6>
            <%= link_to chapter.title, chapter %>
          <h6>
        </li>
        <% end %>
      </ol>
    <% end %>
    <br>
    
    <% unless @deck.instructions.blank? %>
      <h3>Instructions:</h3>
      <p><%= @deck.instructions %></p>
    <% end %>
    
    <%=  %>

    <%= link_to "Download Deck", "#", class:'btn btn-lg btn-block btn-primary' %>
    <br>
  </div>
</div>