<div class='row'>
  <div class='col-md-8'>
    <%= render 'decks/title' %>

    <% if @deck.instructions.present? %>
      <h5>Instructions:</h5>
      <p><%= @deck.instructions %></p>
    <% end %>

    <h5>Cards:</h5>
    <% if @cards.any? %>
      <%= render 'cards/index' %>
    <% end %>

    <%= link_to "Download Deck", deck_path(@deck, format: 'csv'), class:'btn btn-lg btn-block btn-primary' %>
    <br><hr><br>
  </div>

  <div class='col-md-4'>
    <% if current_user && (@deck.owner != current_user) %>
      <%= render 'card_suggestions/new' %>
    <% end %>

    <% if !current_user %>
      <br>
        <p><%= link_to 'Login', new_session_path %> or <%= link_to 'Sign Up', new_user_path %> to suggest cards.</p>  
      <br>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.hideable').removeClass('hidden');
  });
</script>