<br>
<br>
<div class="row bottom-menu bottom-menu">
  <div class='col-md-12'>
    <%= link_to "CardPepper", root_url, class:'text-primary text-center' %>
    <span> | </span>
    
    <%= link_to 'Decks', root_path %>
    <span> | </span>
    
    <%= link_to "Home", root_path %>
    <span> | </span>
    
    <% if current_user %>
      <%= link_to 'Sign Out', session_path, method: :delete, id:'sign-out-button', class: 'button' if current_user %>
      <span> | </span>
      <%= link_to 'Account', edit_user_path(current_user) if current_user  %>
    <% else %>
      <%= link_to "Sign In", new_session_path, remote: true %>
      <span> | </span>
      <%= link_to "Sign Up", new_user_path, remote: true, class:'label label-primary' %>
    <% end %>
  </div>
</div>