<br>
<br>
<div class="row bottom-menu bottom-menu">
  <div class='col-md-12'>
    <%= link_to "Home", root_path %>
    <span> | </span>

    <% if current_user %>
      <%= link_to 'Sign Out', session_destroy_path, id:'sign-out-button', class: 'button' %>
      <span> | </span>
      <%= link_to 'Account', edit_user_path(current_user) %>
    <% else %>
      <%= link_to "Sign In", new_session_path, remote: true %>
      <span> | </span>
      <%= link_to "Sign Up", new_user_path, remote: true, class:'label label-primary' %>
    <% end %>
  </div>
</div>