<!DOCTYPE html>
<html>
<head>
  <title>Pepper</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class='container-fluid'>
    <% if request.env['PATH_INFO'] != '/users/new' %>
      <%= render 'layouts/header' %>
    <% end %>
    
    <%= render "layouts/flashes" %>

    <%= yield %>

    <%= render "layouts/footer" if request.env['PATH_INFO'] != '/users/new' %>
  </div>
</body>
</html>