<!DOCTYPE html>
<html>
<head>
  <title>Pepper</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class='container-fluid'>
    <%= render 'layouts/header' %>
    <%= render "layouts/flashes" %>

    <%= yield %>

    <%= render "layouts/footer" %>

    <% if current_user && Rails.env == 'development' %>
      <div>
        <h5>Current User:</h5>
        <h6><%= current_user.name %></h6>
      </div>
    <% end %>
  </div>
</body>
</html>